.logo{
    background-color: $p-1;
    height:100px;
}


.logo a{
    text-transform: uppercase;
    @include fonts(12px,$fonts-sb,400,#fff,)
}

.logo a:hover{  
    text-transform: uppercase;
    text-decoration: none;
    @include fonts(12px,$fonts-sb,400,#fff,)
}


.logo a i {
    position: relative;
    bottom: 20px;
    left:67px;
}

.logo .a-center {
    padding-top: 20px;
} 

.circle-phone{
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    transform: rotate(90deg);
    i{
        position: relative;
        left: 8px;
    }
}

.logo .Sign{
    @include button(100px,40px,white,$d1-p1,$d1-p1 solid 1px,
    5%);
    text-transform:uppercase;
}

.logo  .Order{
    @include button(100px,40px,white,$p-2,$p-2 solid 1px,
    5%);
    text-transform:uppercase;
}

.logo .row {
    padding-top:20px;
}

.logo .row div {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.header {
    position: relative;
    z-index: 0;
    background-color: #e6f7fe;
    height: 631px;
}

.header .img1{     
    margin-top:291px;
    position: absolute;
    z-index: -4;
}

.header .img2{     
    margin-top:291px;
    position: absolute;
    z-index: -4;
    margin-left: 790px;
}

.header .img3{     
    margin-top:291px;
    position: absolute;
    z-index: -4;
    margin-left: 1090px;
}

.header .img4{     
    position: absolute;
    z-index: -3;
    margin-left: 850px;
}

.header .img5{     
    position: absolute;
    z-index: -3;
    margin-left: 1600px;
    margin-top: 150px;
}

.header-in-container .img6{
    position: absolute;
    z-index: -2;
    margin-left: 720px;
    margin-top: 80px;       
}

.header-in-container .img7{
    position: absolute;
    z-index: -1;
    margin-left: 720px;
    margin-top: 85px;       
}

.header-in-container .h1-blue{
    margin-top: 120px;
    @include fonts(42px,$fonts-P,400,$p-1);
}

.header-in-container h1{
    margin-top: -30px;
    @include fonts(42px,$fonts-P,400,#323538);
}

.header-in-container p{
    margin-top: 50px;
    @include fonts(17px,$fonts-P,200,#656a70);
}

.header-in-container .orange hr {
    background-color: $p-2 ;
    height: 2px;    
}

.header-in-container .right hr{
   margin-left: -30px;  
}

.header-in-container button{
     @include button(220px,40px,white,$p-2,$p-2 solid 1px,
    3%);
    text-transform:uppercase;
}

.header-bottom { 
    position: relative;
    z-index:0;
    margin-top: -100px;
    background-color: $p-1;
    height: 136px;    
 }

 .header-bottom div{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .header-bottom-p p{
     margin-top: 20px;
     margin-bottom: 5px;
     @include fonts(13px,$fonts-m,200,#fff);
 }

 .header-bottom-input select{
     @include input(200px,50px,#656a70,#f6f9f9,1px solid #d8dadb,5%);   
 }
 
 .header-bottom-input input{
    @include input(200px,50px,#656a70,#f6f9f9,1px solid #d8dadb,5%);   
}

 .header-bottom-input button{
     @include button(200px,50px,white,$d1-p1,$d1-p1 solid 1px,5%);
 }

 
 .Welcome {
  margin-top: 50px; 
}


 .Welcome-left {
     background-color:$l2-p1 ;
     height: 415px;
     display: flex;
     align-items: flex-end;
     justify-content: center;
     margin:0 40px;
 }

 .Welcome-Right{
     h1{
         @include fonts(15px,$fonts-m,200,$p-1,)
     }
     h2{
        @include fonts(33px,$fonts-P,400,#1e2021);
        margin: 30px 0;
     }
     p{
        @include fonts(13px,$fonts-m,400,#51555a);
        margin-top: 38px;
     }
 }

.banner-1 {
    background-color: $p-1;
    height: 697px;
}

.banner-1 h1{
    @include fonts(25px,$fonts-m,200,#fff);
    text-align: center;
    margin-top: 57px;
}   
    
.banner-1 h2{
    @include fonts(33px,$fonts-m,500,#fff);
    text-align: center;
    margin-top: 20px;
}  

.banner-1 h3{
    @include fonts(17px,$fonts-m,500,#1e2021);
    text-align: center;
    margin-top: 20px;
}  

.banner-1 p {
    @include fonts(14px,$fonts-m,400,#51555a);
    text-align: center;
}

.banner-1 .tab article {
    margin-top: 60px;
    background-color: #fff;
    height: 312px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.banner-1 button{
    @include button(280px,50px,#fff,$d1-p1,$d1-p1,4%);
    margin-top: 35px;
}

.Place-12{
    text-align: center;
}


.banner-2 h1{
    @include fonts(25px,$fonts-m,200,$p-1);
    text-align: center;
    margin-top: 57px;
}

.banner-2 h2{
    @include fonts(33px,$fonts-m,500,#323538);
    text-align: center;
    margin-top: 20px;
}  

.banner-2 h3{
    @include fonts(17px,$fonts-m,500,#1e2021);
    text-align: center;
    margin-top: 20px;
} 

.banner-2 p {
    @include fonts(14px,$fonts-m,400,#51555a);
    text-align: center;
}

.banner-2 .tab-2 article {
    margin-top: 60px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 35px;
    border-right: solid 1px $l2-p1;
}


.banner-3{
    position: relative;
    z-index: 0;
    margin-top: 80px;
    background-color: $p-1;
    height: 557px;
}

.banner-3 h1{
    @include fonts(25px,$fonts-m,200,#fff);
    text-align: center;
    margin-top: 57px;
}

.banner-3 h2{
    @include fonts(33px,$fonts-m,500,#fff);
    text-align: center;
    margin-top: 20px;
} 

.banner-3 p {
    @include fonts(20px,$fonts-m,400,#fff);
    text-align: center;
    margin-top: 35px;
}

.banner-3 .img-3-1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.banner-3 .img-3-2 {
    position: absolute;
    right: 100px;
    top: 20px;   
}

.banner-3 .img-3-3 {
    position: absolute;
    left: 300px;
    top: 20px;   
}


.banner-4 .img-3-3 {
    position: absolute;
    left: 300px;
    top: 20px;   
}


.banner-3 .img-3-4 {
    position: absolute;
    left: 300px;
    top: 120px;   
}

.banner-4-left {
    margin-top: -250px;
}

table{
    border: solid 2px rgba(150, 150, 150, .5);
    background-color: #fff;
    width: 500px;
    height: 486px;
    margin: 0 auto;
}

.td1{
    border-right: solid 1px rgba(150, 150, 150, .5);
    border-bottom: solid 1px rgba(150, 150, 150, .5);
}

.td3{
    border-right: solid 1px rgba(150, 150, 150, .5);
}




.banner-4 h1{
    @include fonts(35px,$fonts-P,400,$p-2);
    padding:0px 50px;
}

.banner-4 h2{
    @include fonts(14px,$fonts-P,400,#51555a);
    padding:0 60px;
}
.banner-4 p{
    @include fonts(17px,$fonts-m,200,$p-1);
    padding: 0 70px;
}

.shar{
    margin-top: -250px;
    background-color: $p-1;
    height: 486;
    img{
        margin-top: 20px;
    }
}


.banner-5 h1{
    @include fonts(25px,$fonts-m,200,$p-1);
    text-align: center;
    margin-top: 80px;
}

.banner-5 h2{
    @include fonts(33px,$fonts-m,500,#323538);
    text-align: center;
    margin-top: 20px;
} 

.banner-5 p {
    @include fonts(14px,$fonts-m,300,#51555a);
    text-align: center;
    margin-top: 50px;
}

.banner-5 h3{
    @include fonts(17px,$fonts-sb,400,$p-1);
    text-align: center;
    margin-top:20px;
}

.banner-5 h4{
    text-align: center;
    @include fonts(13px,$fonts-P,300,#a3a6a9)
}

.banner-5 .arrows i {
    font-size: 60px;
    color:$p-1 ;
}

.banner-5 .arrows .fa-chevron-left{
   position: absolute;
   top: 70px;
}

.banner-5 .arrows .fa-chevron-right{
    position: absolute;
    top: 70px;
    left: 330px;
 }

 .banner-5 img{
   position: relative;
   left: 140px;
   margin-top: 30px;
 }

 .footer{
     background-color: $p-1;
     height: 605px;
 }

 .top{
     padding-top: 50px;
     display: flex;
     align-items: center;
     text-align: center;
     justify-content: space-between;
    
 }

 .footer a{
    @include fonts(12px,$fonts-P,500,#fff);
    text-transform: uppercase;
}

.footer a:hover{
   @include fonts(12px,$fonts-P,500,#fff);
   text-decoration: none;
}

.footer hr {
   background-color: #fff;
}

.spusok p{
   @include fonts(16px,$fonts-P,500,#fff)
}

.spusok-1 ul{
   list-style-type: none;
}

.spusok-1 li{
   @include fonts(13px,$fonts-m,400,#fff);
   margin: 16px 0;
}


.footer-2 p {
   @include fonts(13px,$fonts-m,400,#fff)
}


.Social-icons-back ul{
   display: flex;
   justify-content: space-around;
   align-items: center;
   list-style-type: none;
  
 }


.circle-back-top i{
   width: 35px;
   height: 35px;
   border-radius: 50%;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 2px solid #fff;
   
}

.circle-back-top i:hover{
   width: 35px;
   height: 35px;
   border-radius: 50%;
   background-color: $d1-p1;
   color: #fff; 
   border: 2px solid $d1-p1;
}

